version: "3.7"
services:
  planterDashboard:
    build:
      context: .
      dockerfile: Dockerfile
    image: planter-dashboard
    container_name: PlanterDashboard
    hostname: has.prod.planter-dashboard
    restart: on-failure
    ports:
      - "3000:3000"
    expose:
      - "3000"
